* {
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  border-bottom: 2px solid;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #dde6ed;
}

#about {
  padding-top: 5rem;
  background-color: #fff;
}

#projects {
  padding-top: 6rem;
  background-color: #dde6ed;
}

#Kontak {
  padding-top: 5rem;
  background-color: #fff;
}

footer {
  background-color: #dde6ed;
}
